***Lists***

1.Famous Biryani Spots in Malakpet

In [2]:
famous = ["Luckys Biryani House", "Sravanam 4 Am Kushka Biryani", "Kritunga Restaurant", "Capital Multicuisine Restaurant", "Imperial Multi Cuisine Restaurant", "Pista House", "Pista House", "The Rs Dhaba", "Mehfil Restaurant", "Victoria Restaurant" ]

print(type(famous))

print(len(famous))

print(famous)

<class 'list'>
10
['Luckys Biryani House', 'Sravanam 4 Am Kushka Biryani', 'Kritunga Restaurant', 'Capital Multicuisine Restaurant', 'Imperial Multi Cuisine Restaurant', 'Pista House', 'Pista House', 'The Rs Dhaba', 'Mehfil Restaurant', 'Victoria Restaurant']

In [3]:
famous.append("Meridian")

famous.append("Paradise")

famous.append("Shadab")

print(famous)

['Luckys Biryani House', 'Sravanam 4 Am Kushka Biryani', 'Kritunga Restaurant', 'Capital Multicuisine Restaurant', 'Imperial Multi Cuisine Restaurant', 'Pista House', 'Pista House', 'The Rs Dhaba', 'Mehfil Restaurant', 'Victoria Restaurant', 'Meridian', 'Paradise', 'Shadab']

In [4]:
print(famous)
len(famous)

['Luckys Biryani House', 'Sravanam 4 Am Kushka Biryani', 'Kritunga Restaurant', 'Capital Multicuisine Restaurant', 'Imperial Multi Cuisine Restaurant', 'Pista House', 'Pista House', 'The Rs Dhaba', 'Mehfil Restaurant', 'Victoria Restaurant', 'Meridian', 'Paradise', 'Shadab']

13

In [5]:
famous.remove("Sravanam 4 Am Kushka Biryani")

print(famous)

print(len(famous))

['Luckys Biryani House', 'Kritunga Restaurant', 'Capital Multicuisine Restaurant', 'Imperial Multi Cuisine Restaurant', 'Pista House', 'Pista House', 'The Rs Dhaba', 'Mehfil Restaurant', 'Victoria Restaurant', 'Meridian', 'Paradise', 'Shadab']
12

In [6]:
famous.sort()

#print(len(famous))

In [88]:
famous

['Capital Multicuisine Restaurant',
 'Imperial Multi Cuisine Restaurant',
 'Kritunga Restaurant',
 'Luckys Biryani House',
 'Mehfil Restaurant',
 'Meridian',
 'Paradise',
 'Pista House',
 'Pista House',
 'Shadab',
 'The Rs Dhaba',
 'Victoria Restaurant']

2.Shopping Malls in Kukatpally

In [117]:
malls=["forum sujana mall", "nexus hyderabad", "ashoka golden mall", "inordit mall", "saraths city capital mall", "lulu mall", "e galleria mall"]
len(malls)

7

In [118]:
malls.append("satyam asian mall")
print(malls)
len(malls)

['forum sujana mall', 'nexus hyderabad', 'ashoka golden mall', 'inordit mall', 'saraths city capital mall', 'lulu mall', 'e galleria mall', 'satyam asian mall']

8

In [119]:
malls.pop(7)
print(malls)
print(len(malls))

['forum sujana mall', 'nexus hyderabad', 'ashoka golden mall', 'inordit mall', 'saraths city capital mall', 'lulu mall', 'e galleria mall']
7

In [120]:
malls.reverse()

In [123]:
malls[::1]

['e galleria mall',
 'lulu mall',
 'saraths city capital mall',
 'inordit mall',
 'ashoka golden mall',
 'nexus hyderabad',
 'forum sujana mall']

In [124]:
malls

['e galleria mall',
 'lulu mall',
 'saraths city capital mall',
 'inordit mall',
 'ashoka golden mall',
 'nexus hyderabad',
 'forum sujana mall']

3. Bus Stops from Ameerpet to Jubilee Hills

In [8]:
busstops=["Ameerpet Metro Station", "Punjagutta","Madhapur","Jubilee Hills Check Post"]

In [10]:
bus=["Jubilee Hills Road No. 10", "JRC Convention Centre"]
busstops.extend(bus)

In [13]:
len(busstops)
print(busstops)

['Ameerpet Metro Station', 'Punjagutta', 'Madhapur', 'Jubilee Hills Check Post', 'Jubilee Hills Road No. 10', 'JRC Convention Centre']

4. Local Movie Theaters in Dilsukhnagar:

In [23]:
movies=["Shanti Theatre", "Srinivasa Theatre","Venkateshwara Theatre", "Cine Planet", "Sri Ramulu Theatre","Keshava Theatre"]
mov=["Ramakrishna Theatre","Sudharshan Theatre","Devi Theatre"]
print(len(movies))

6

In [22]:
movies.extend(mov)
print(movies)

['Shanti Theatre', 'Srinivasa Theatre', 'Venkateshwara Theatre', 'Cine Planet', 'Sri Ramulu Theatre', 'Keshava Theatre', 'Ramakrishna Theatre', 'Sudharshan Theatre', 'Devi Theatre']

In [24]:
movies.pop(4)

'Sri Ramulu Theatre'

In [25]:
movies.sort()

In [26]:
movies

['Cine Planet',
 'Keshava Theatre',
 'Shanti Theatre',
 'Srinivasa Theatre',
 'Venkateshwara Theatre']

5. Restaurants in Banjara Hills:

In [58]:
res=[{"Olive Bar & Kitchen" :70,"The Fisherman's Wharf":80,"Barbeque Nation Mikusu":90,"Viva Hyderabad":91,"Kangan Shao":92,"Dine Mahal":95%}]
len(res)

SyntaxError: invalid syntax (2162448117.py, line 1)

In [45]:
res.append("Nawab's")
len(res)

7

In [46]:
res.pop()

"Nawab's"

***Tuples***

1. Tourist Attractions Near Charminar:

In [49]:
tourist = (("Mecca Masjid", 0), ("Salar Jung Museum", 20),("Laad Bazaar", 0), ("Chowmohalla Palace", 50), ("Nizam's Museum", 100)
)
tourist

(('Mecca Masjid', 0),
 ('Salar Jung Museum', 20),
 ('Laad Bazaar', 0),
 ('Chowmohalla Palace', 50),
 ("Nizam's Museum", 100))

In [50]:
tourists = ("Shah Ali Banda Mosque", 0)

In [51]:
update_tour =  tourist + tourists

In [52]:
update_tour

(('Mecca Masjid', 0),
 ('Salar Jung Museum', 20),
 ('Laad Bazaar', 0),
 ('Chowmohalla Palace', 50),
 ("Nizam's Museum", 100),
 'Shah Ali Banda Mosque',
 0)

In [43]:
update_tour.count()

TypeError: count() takes exactly one argument (0 given)

Dictionaries

In [48]:
#Biryani Prices in Malakpet
biryani={"Paradise Biryani": 250,
    "Bawarchi Biryani": 220,
    "Shah Ghouse Biryani": 240,
    "Pista House": 260,
    "Cafe Bahar": 230,
    "Sarvi Biryani": 210,
    "Kebab-e-Khaleel": 250,
    "Nayaab Biryani": 240}

In [49]:
biryani.update({"Shouqeen Arabian Cuisine":205})

In [50]:
biryani

{'Paradise Biryani': 250,
 'Bawarchi Biryani': 220,
 'Shah Ghouse Biryani': 240,
 'Pista House': 260,
 'Cafe Bahar': 230,
 'Sarvi Biryani': 210,
 'Kebab-e-Khaleel': 250,
 'Nayaab Biryani': 240,
 'Shouqeen Arabian Cuisine': 205}

In [51]:
biryani.update({"pista house":200})

In [52]:
biryani

{'Paradise Biryani': 250,
 'Bawarchi Biryani': 220,
 'Shah Ghouse Biryani': 240,
 'Pista House': 260,
 'Cafe Bahar': 230,
 'Sarvi Biryani': 210,
 'Kebab-e-Khaleel': 250,
 'Nayaab Biryani': 240,
 'Shouqeen Arabian Cuisine': 205,
 'pista house': 200}

In [53]:
biryani.pop("Cafe Bahar")

230

In [54]:
del biryani["Pista House"]

In [55]:
biryani

{'Paradise Biryani': 250,
 'Bawarchi Biryani': 220,
 'Shah Ghouse Biryani': 240,
 'Sarvi Biryani': 210,
 'Kebab-e-Khaleel': 250,
 'Nayaab Biryani': 240,
 'Shouqeen Arabian Cuisine': 205,
 'pista house': 200}

In [71]:
#Shopping Malls in Kukatpally with Floors:
mall={"nexus mall":6, "ashoka":4, "lulu mall":7}

In [72]:
mall.update({"Inorbit Mall": 5})
mall

{'nexus mall': 6, 'ashoka': 4, 'lulu mall': 7, 'Inorbit Mall': 5}

In [73]:
mall.update({"ashoka":5})
mall

{'nexus mall': 6, 'ashoka': 5, 'lulu mall': 7, 'Inorbit Mall': 5}

In [74]:
mall.keys()

dict_keys(['nexus mall', 'ashoka', 'lulu mall', 'Inorbit Mall'])

In [75]:
mall.values()

dict_values([6, 5, 7, 5])

In [112]:
#print(max(mall.values()),max(mall.keys()))
print(max(mall),max.get())

AttributeError: 'builtin_function_or_method' object has no attribute 'get'

In [100]:
# Bus Routes from Ameerpet with Distance
routes = {
    "Ameerpet to Miyapur": 15,
    "Ameerpet to Kukatpally": 12,
    "Ameerpet to Madhapur": 10,
    "Ameerpet to Hitech City": 8,}

In [101]:
routes.update({"Ameerpet to Begumpet": 6})

In [102]:
routes.update({"Ameerpet to Madhapur": 9})

In [103]:
routes.pop("Ameerpet to Kukatpally")
routes

{'Ameerpet to Miyapur': 15,
 'Ameerpet to Madhapur': 9,
 'Ameerpet to Hitech City': 8,
 'Ameerpet to Begumpet': 6}

In [119]:
#Hospitals in Secunderabad with Departments:
hospitals = {
    "Yashoda Hospitals": ["Cardiology", "Neurology", "Oncology", " Orthopedics"],
    "KIMS Hospital": ["Cardiology", "Neurology", "Oncology", "Orthopedics", "Urology"],
    "CARE Hospitals": ["Cardiology", "Neurology", "Oncology", "Orthopedics", "Urology", "Nephrology"],
    "Janapareddy Hospital": ["General Medicine", "General Surgery", "Pediatrics", "Gynecology"],
    "Madhava Multi-Specialty Hospital": ["Cardiology", "Neurology", "Oncology", "Orthopedics", "Urology", "Nephrology"]}

In [120]:
hospitals.update({"Sunshine Hospitals": ["General Medicine", "General Surgery", "Pediatrics", "Gynecology", "Orthopedics"]})
hospitals.update({"CARE Hospitals": ["Cardiology", "Neurology", "Oncology",  "Urology", "Nephrology"]})

In [121]:
hospitals

{'Yashoda Hospitals': ['Cardiology', 'Neurology', 'Oncology', ' Orthopedics'],
 'KIMS Hospital': ['Cardiology',
  'Neurology',
  'Oncology',
  'Orthopedics',
  'Urology'],
 'CARE Hospitals': ['Cardiology',
  'Neurology',
  'Oncology',
  'Urology',
  'Nephrology'],
 'Janapareddy Hospital': ['General Medicine',
  'General Surgery',
  'Pediatrics',
  'Gynecology'],
 'Madhava Multi-Specialty Hospital': ['Cardiology',
  'Neurology',
  'Oncology',
  'Orthopedics',
  'Urology',
  'Nephrology'],
 'Sunshine Hospitals': ['General Medicine',
  'General Surgery',
  'Pediatrics',
  'Gynecology',
  'Orthopedics']}

In [122]:
max(hospitals.values())

['General Medicine',
 'General Surgery',
 'Pediatrics',
 'Gynecology',
 'Orthopedics']

In [123]:
max(hospitals.keys())

'Yashoda Hospitals'

In [86]:
#Q1
for i in range(1,5):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

In [82]:
#Q2
n=5
for i in range(1,n):
    print(' '*(n-i)+'*'*(2*i-1))
for j in range(n,0,-1):
    print(' '*(n-j)+'*'*(2*j-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [62]:
n=[0,1,2,3,4]
f=0
s=1
print(f,end=' ')
f , s = s ,f + s

0

In [63]:
#Q3
n=5
f=0
s=1
for i in range(1,n+1):
    for j in range(i):
      print(f,end=' ')
      f , s = s ,f + s
      #print('f',f)
      #print('s',s)
    print()

0
1 1
2 3 5
8 13 21 34
55 89 144 233 377

In [64]:
d=5
f=6
temp = f
f = d
d = f
print(d)
print(f)

5
5

In [2]:
#Q4
for i in range(4):
    if i% 2 == 0:
        print('1'*(i+1))
    else:
        print('0'*(i+1))

1
00
111
0000

In [3]:
#Q5
for i in range(1,5):
    print('*'*(5-i))

****
***
**
*

In [100]:
#Q6
n=5
for i in range(n):
    row_list = [1]
    for j in range(1,i+1):
        row_list.append(row_list[-1] * (i-j + 1)// j)
    print(' '* (n-i),end=' ')
    print(' '.join(map(str,row_list)))

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [101]:
n=5
for i in range(n):
    for i in range(n):
        print('*',end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [107]:
#Q7
n=5
for i in range(n):
    for j in range(n):
        if i==j or i+j == n-1:
          print('*',end="")
        else:
            print(' ',end="")
    print()

*   *
 * *
  *
 * *
*   *

In [103]:
#Q8
n=6
for i in range(6):
    if i%2==0:
        print('  ***')
    else:
        print('***')

  ***
***
  ***
***
  ***
***

In [104]:
n=4
for i in range(n):
    print(n*i)

0
4
8
12

In [105]:
arr = [1, 2, 3, 2, 4, 5, 6, 1, 4]
arr.count(arr)

0