In [14]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [15]:
for i in range(100):
    if i%2 ==0:
        print(f"even number:(i)")
    else:
        print(f"odd number:(i)")

even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)
even number:(i)
odd number:(i)

In [16]:
#addition

698+69

767

In [17]:
#sud
696969696969-69696969

696900000000

In [18]:
#multi
57*68

3876

In [19]:
#div
55/7

7.857142857142857

In [20]:
#floordiv
55//7

7

In [21]:
#modulus
5788%557

218

In [22]:
#exponent
print(44**78)

154635344396985087560562666742342932896949285785656738499351450058131880748607615691825110768860452756660077490866688857070370816

PAMDAS RULE PYTHON (POWER EXPONATIONAL MULTI DIV ADD SUB)

In [23]:
10+14*15+87

307

In [ ]:
BASIC Arithmetic operations we can do on x and y. Later we will be doing operations on thousands of such numbers in one go!

In [24]:
x=87

In [33]:
y=5.7

In [34]:
#add
z=x+y
print(z)

92.7

In [35]:
#id address
print(id(z))

2253932297296

In [36]:
print(oct(id(z)))

0o40631065276120

In [37]:
#div
z=y/x
print(z)
type(z)

0.06551724137931035

float

In [38]:
type(x)

int

In [39]:
type(y)

float

In [40]:
a="rushi"

In [41]:
type(a)

str

In [42]:
b="234"

In [43]:
type(b)

str

NAME ERROR

In [44]:
type(d)

NameError: name 'd' is not defined

Rules for naming a variable in Python

In [45]:
A=6525
A

6525

In [48]:
_A=346
_A

346

In [51]:
a=23455
a

23455

In [52]:
_a=34334
_a

34334

In [54]:
rushi23_=234566754224
rushi23_

234566754224

In [55]:
33rushi=22

SyntaxError: invalid syntax (3823833626.py, line 1)

In [56]:
___w=23
___w

23

case sensitive

In [57]:
ee=34
EE

NameError: name 'EE' is not defined

In [60]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

STRING

In [61]:
s='rushikesh'
print(s)
type(s)

rushikesh

str

In [63]:
s= 'Im rushikesh'

In [64]:
s.upper

In [65]:
s.upper()

'IM RUSHIKESH'

In [66]:
print(s)
print(a)

Im rushikesh
23455

In [67]:
print(s)
print()
print(a)

Im rushikesh

23455

In [71]:
x,y,z= "am","rushi","kesh"
print(x,y,z)

am rushi kesh

In [72]:
x,y = 5,"rushi"
print(x,y)

5 rushi

In [76]:
x=5
y="rushi"
print(str(x)+"  "+y)

5  rushi