Python was introduced by Sir Guido Van Rossumo in 1989                           ( for execution of a file (python filename.py))
  
What is Python ?:
-Python is interpreter language
-High level language
-Dynamically Typed language
-General purpose language
-Both procedure oriented and object oriented programming language.

Basic Data Types : 
    
    There are diffirent dataypes : 
    
    Int, Float, String, boolean, none

    String : Any text, char, letter, symbols

    Integer : Any whole number -int to +int , ex: -34, 600, 45000

    Float : Any decimal number ex: -5.7, 32.67, 567.22

    Boolean : True or False, 0 or 1

    None : Null data or empty data

MUTABLE : WE CAN CHANGE DATA
IMMUTABLE : WE CAN'T CHANGE DATA

Variable: a placeholder to store data

In [6]:
age=22
print(age)
type(age)

22

int

In [13]:
institute=1.5
print(institute)
type(institute)

1.5

float

In [14]:
single=True
type(single)

bool

STRING ' ','' '',''' ''',"","" "",""" """ (IMMUTABLE DATATYPE)

In [149]:
name="rushi kesh"
age = "22"
print(name)
print(type(name))
print(len(name))

rushi kesh
<class 'str'>
10

In [50]:
#concentation
print(name + " "+age)
print(name + " "+age*3)
#format
f"{name} {age}"

rushi kesh 22
rushi kesh 222222

'rushi kesh 22'

***indexing and slicing

In [112]:
#indexing[] and slicing[start:stop:step]
name[1]     		#indexing
name[3]

name[1:4]				#slicing
name[1:9:2]
name[-1]
name[-1:-10:-2]
name[-1:-6:-2]
name[::-1]

'hsek ihsur'

string method

In [90]:
print(name.capitalize(),"1")
print(name.casefold(),"2")
print(name.center(20,"#"),"3")
print(name.count("h"),"4")
print(name.lower(),"5")
print(name.upper(),"6")
print(name.strip(),"7") #remove space defore or after string
print(name.find("e"),"8") #finding index number
print(name.replace("kesh","raghavamsi"),"9")
print(name.split(", "),"10") 
print(", ".join(name))
print(name.startswith("rushi"))
print(name.endswith("i"))
print(name.isdigit())
print(name.isalpha())
print(name.title())

Rushi kesh 1
rushi kesh 2
#####rushi kesh##### 3
2 4
rushi kesh 5
RUSHI KESH 6
rushi kesh 7
7 8
rushi raghavamsi 9
['rushi kesh'] 10
r, u, s, h, i,  , k, e, s, h
True
False
False
False
Rushi Kesh

basic practice question in string

In [92]:
s = "rushikesh"
print(s.lower())      # Output: ÃŸ
print(s.casefold())

rushikesh
rushikesh

In [101]:
rushi="sabik for DataScience"
rushi.split()

['sabik', 'for', 'DataScience']

In [97]:
ramu="sabik  for DataScience"
",".join(ramu)

's,a,b,i,k, , ,f,o,r, ,D,a,t,a,S,c,i,e,n,c,e'

In [140]:
#python program for reverse the string
rushi="welcome to datascience program"
r=rushi.split()

print(r)

r=r[::-1]

print(r)

r=" ".join(r)

print(r)

['welcome', 'to', 'datascience', 'program']
['program', 'datascience', 'to', 'welcome']
program datascience to welcome

In [141]:
#palidrome (means if it is reverse it has to same )
strng='amaama'
print(strng==strng[::-1])

strng1="laxman"
print(strng1==strng1[::-1])

True
False

ADVANCE DATA TYPES 
1. Lists : are used to store ordred data and mutable
2. Dicts : are used to store data in key-value formet and unorderd and mutable 

3. Tuples : are used to store immutable data.. very similar to list
4. Sets : are used to store unique data (no dublicates allowed)

LIST [ ] MUTABLE, ORDERED

In [150]:
gang = [] #empty list
type(gang)

list

In [151]:
gang = ["vamsi", "fazal","sai","anu","rushi", "latha"]

In [152]:
#indexing[] and slicing[start:stop:step]

print(gang[2])											#indexing[]
print(gang[0][4])
print(gang[4][-3])

print(gang[1:4])									 	#slicing
print(gang[0:9:4])

sai
i
s
['fazal', 'sai', 'anu']
['vamsi', 'rushi']

Tuple () Immtable

In [157]:
group = ("vamsi", "fazal","sai","anu","rushi", "latha")
print(type(group))
print(len(group))
print(group)

<class 'tuple'>
6
('vamsi', 'fazal', 'sai', 'anu', 'rushi', 'latha')

In [165]:
#indexing[] and slicing[start:stop:step]

print(group[1])									#indexing
print(group[-1])

print(group[1:4])								#slicing
print(group[1:6:3])							#slicing with step

fazal
latha
('fazal', 'sai', 'anu')
('fazal', 'rushi')

In [170]:
#upadate
y=list(group)
y.append("raghava")
g=tuple(y)
print(g)

('vamsi', 'fazal', 'sai', 'anu', 'rushi', 'latha', 'raghava')

In [171]:
#unpacking
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [173]:
#Using Asterisk*
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, tropic, *red) = fruits

print(green)
print(tropic)
print(red)

apple
mango
['papaya', 'pineapple', 'cherry']

In [174]:
#loop in tuple
for h in g:
    print(h)

vamsi
fazal
sai
anu
rushi
latha
raghava

In [178]:
for h in range(len(g)):
    print(g[h])

vamsi
fazal
sai
anu
rushi
latha
raghava

In [181]:
i=0
while i < len(g):
    print(g[i])
    i=i+2

vamsi
sai
rushi
raghava

In [184]:
j= g+fruits
j

('vamsi',
 'fazal',
 'sai',
 'anu',
 'rushi',
 'latha',
 'raghava',
 'apple',
 'mango',
 'papaya',
 'pineapple',
 'cherry')

In [187]:
k = g*3

In [188]:
k.count("rushi")

3

In [189]:
k.index("rushi")

4