In [1]:
n=int(input())
for i in range(n):
    print(' '*(n-i)+'*'*(2*i-1))

    *
   ***
  *****
 *******

In [4]:
n=int(input())
m=int(input())
for i in range(n):
    print(' '*(n-i)+'*'*(2*i-1))

for i in range(m,0,-1):
    print (" "*(m-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [20]:
import calendar

def r(year, month):
    print(calendar.month(year, month))

In [21]:
year=2025
month=1
r(year, month)

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [26]:
d={}
type(d)

dict

In [27]:
s=[2,3,4,5,6,7]

In [28]:
type(s)

list

In [2]:
a=[1,2,3,4]

In [3]:
list=a

In [4]:
a

[1, 2, 3, 4]

In [5]:
type(a)

list

In [6]:
len(a)

4

In [9]:
a.index(2)

1

In [2]:
result= print("rushikesh")

rushikesh

In [4]:
print(result)

None

In [7]:
result=type(["rushikesh"])

In [9]:
result

list

In [14]:
len("          ")

10

In [16]:
str(7)

'7'

In [17]:
int("7")

7

In [26]:
"rushikesh".upper()

'RUSHIKESH'

In [27]:
"RUSHIKESH".lower()

'rushikesh'

In [28]:
"RUSHIKESH".capitalize()

'Rushikesh'

In [3]:
def add(v,r):
    return v+r

In [4]:
result=add(3,5)
print(result)

8

In [5]:
print(add(3,4))

7

In [6]:
def add_p(x,y):
    print(x+y)

In [10]:
res1=add(21,43)
res2=add_p(2,2)
print(res1, res2)

4
64 None

In [8]:
add(1,2)

3

In [16]:
v="bhavani is madly in love with fazal"

In [3]:
v="bhavani is madly in love with fazal"
for i in v:
    print(i,end="")

bhavani is madly in love with fazal

In [18]:
for i in v:
    pass

In [21]:
for i in "bhazal":
    print(i,end=" ")

b h a z a l

In [25]:
for i in "bha zal":
    if i==" ":
        pass
    print("bhavani+fazal=",i)

bhavani+fazal= b
bhavani+fazal= h
bhavani+fazal= a
bhavani+fazal=
bhavani+fazal= z
bhavani+fazal= a
bhavani+fazal= l

In [26]:
for i in "bha zal":
    if i==" ":
        pass
    print("bhavani+fazal=",i,end=" ")

bhavani+fazal= b bhavani+fazal= h bhavani+fazal= a bhavani+fazal=   bhavani+fazal= z bhavani+fazal= a bhavani+fazal= l

In [29]:
for i in "bha zal":
    print("bhavani+fazal=",i,end=" ")

bhavani+fazal= b bhavani+fazal= h bhavani+fazal= a bhavani+fazal=   bhavani+fazal= z bhavani+fazal= a bhavani+fazal= l

In [33]:
for i in "bha zal":
    if i==" ":
        pass
    print(f"bhavani+fazal={i}")
print("vijaya is compitation of bhavani")
print("it's not bhazal it's vizal")

bhavani+fazal=b
bhavani+fazal=h
bhavani+fazal=a
bhavani+fazal=
bhavani+fazal=z
bhavani+fazal=a
bhavani+fazal=l
vijaya is compitation of bhavani
it's not bhazal it's vizal

In [28]:
for i in "bha zal":
    if i==" ":
      pass
      print("bhavani+fazal=",i)
print("vijaya is compitation of bhavani")
print("it's not ('bhazal') it's ('vizal')")

bhavani+fazal=
vijaya is compitation of bhavani
it's not ('bhazal') it's ('vizal')

In [50]:
for i in "bha zal":
    if i==" ":
        break
    print("bhavani+fazal=",i)
print("vijaya is compitation of bhavani")
print("it's not bhazal it's vizal")

bhavani+fazal= b
bhavani+fazal= h
bhavani+fazal= a
vijaya is compitation of bhavani
it's not bhazal it's vizal

In [51]:
for i in "bha zal":
    if i==" ":
        continue
    print("bhavani+fazal=",i)
print("vijaya is compitation of bhavani")
print("it's not bhazal it's vizal")

bhavani+fazal= b
bhavani+fazal= h
bhavani+fazal= a
bhavani+fazal= z
bhavani+fazal= a
bhavani+fazal= l
vijaya is compitation of bhavani
it's not bhazal it's vizal

In [7]:
n = 10
for i in range(n):
    pass

In [8]:
a = 10
b = 20
if (a > b):
    pass
    print(" ")
else:
    print("b < a")

b < a

In [9]:
for v in range (3,10,3):
    print(v)

3
6
9

In [10]:
a=(1,2,3,34,4,40)
for v in a:
    print(v)

1
2
3
34
4
40

In [11]:
a="fazal-vijaya-bhavani"
for v in a:
    print(v)

f
a
z
a
l
-
v
i
j
a
y
a
-
b
h
a
v
a
n
i

In [12]:
x="rushi"
for i in (x):
    print(i)

r
u
s
h
i

In [13]:
x="rushi"
for i in range(len(x)):
    print(x[-i-1])

i
h
s
u
r

In [14]:
x=input()
for i in range(len(x)):
    print(x[-i-1])

In [1]:
def sum(x,y):
    return x+y or x-y

In [2]:
sum(3,5)

8

In [8]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [10]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [99]:
for i in range(1,11):
    print("8 * "+str(i)+" = "+str(i*8)+("  ")+ "9 * "+str(i)+" = "+str(i *9))

8 * 1 = 8  9 * 1 = 9
8 * 2 = 16  9 * 2 = 18
8 * 3 = 24  9 * 3 = 27
8 * 4 = 32  9 * 4 = 36
8 * 5 = 40  9 * 5 = 45
8 * 6 = 48  9 * 6 = 54
8 * 7 = 56  9 * 7 = 63
8 * 8 = 64  9 * 8 = 72
8 * 9 = 72  9 * 9 = 81
8 * 10 = 80  9 * 10 = 90

In [88]:
for i in range(1, 11):
    print("8 * " + str(i) + " = " + str(i * 8))
    print("9 * " + str(i) + " = " + str(i * 9))

8 * 1 = 8
9 * 1 = 9
8 * 2 = 16
9 * 2 = 18
8 * 3 = 24
9 * 3 = 27
8 * 4 = 32
9 * 4 = 36
8 * 5 = 40
9 * 5 = 45
8 * 6 = 48
9 * 6 = 54
8 * 7 = 56
9 * 7 = 63
8 * 8 = 64
9 * 8 = 72
8 * 9 = 72
9 * 9 = 81
8 * 10 = 80
9 * 10 = 90

In [89]:
for i in range(1, 21):
    print(f"18 * {i} = {i*18}\t9 * {i} = {i*9}")

18 * 1 = 18	9 * 1 = 9
18 * 2 = 36	9 * 2 = 18
18 * 3 = 54	9 * 3 = 27
18 * 4 = 72	9 * 4 = 36
18 * 5 = 90	9 * 5 = 45
18 * 6 = 108	9 * 6 = 54
18 * 7 = 126	9 * 7 = 63
18 * 8 = 144	9 * 8 = 72
18 * 9 = 162	9 * 9 = 81
18 * 10 = 180	9 * 10 = 90
18 * 11 = 198	9 * 11 = 99
18 * 12 = 216	9 * 12 = 108
18 * 13 = 234	9 * 13 = 117
18 * 14 = 252	9 * 14 = 126
18 * 15 = 270	9 * 15 = 135
18 * 16 = 288	9 * 16 = 144
18 * 17 = 306	9 * 17 = 153
18 * 18 = 324	9 * 18 = 162
18 * 19 = 342	9 * 19 = 171
18 * 20 = 360	9 * 20 = 180

In [90]:
for i in  range(10):
    print("*"*10)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [91]:
for i in  range(1,10):
    print(" "*(10-i)+"*"*i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [92]:
rows = 5
for i in range(rows):
    for j in range(i + 1):
        print("*", end=' ')
    print()
print()  # Move to the next line after each row

*
* *
* * *
* * * *
* * * * *