In [1]:
n=int(input())
for i in range(n):
    print(' '*(n-i)+'*'*(2*i-1))

    *
   ***
  *****
 *******

In [4]:
n=int(input())
m=int(input())
for i in range(n):
    print(' '*(n-i)+'*'*(2*i-1))

for i in range(m,0,-1):
    print (" "*(m-i)+"*"*(2*i-1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

In [20]:
import calendar

def r(year, month):
    print(calendar.month(year, month))

In [21]:
year=2025
month=1
r(year, month)

    January 2025
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [26]:
d={}
type(d)

dict

In [27]:
s=[2,3,4,5,6,7]

In [28]:
type(s)

list

In [2]:
a=[1,2,3,4]

In [3]:
list=a

In [4]:
a

[1, 2, 3, 4]

In [5]:
type(a)

list

In [6]:
len(a)

4

In [9]:
a.index(2)

1

In [2]:
result= print("rushikesh")

rushikesh

In [4]:
print(result)

None

In [7]:
result=type(["rushikesh"])

In [9]:
result

list

In [14]:
len("          ")

10

In [16]:
str(7)

'7'

In [17]:
int("7")

7

In [26]:
"rushikesh".upper()

'RUSHIKESH'

In [27]:
"RUSHIKESH".lower()

'rushikesh'

In [28]:
"RUSHIKESH".capitalize()

'Rushikesh'

In [3]:
def add(v,r):
    return v+r

In [4]:
result=add(3,5)
print(result)

8

In [5]:
print(add(3,4))

7

In [6]:
def add_p(x,y):
    print(x+y)

In [10]:
res1=add(21,43)
res2=add_p(2,2)
print(res1, res2)

4
64 None

In [8]:
add(1,2)

3

In [16]:
v="bhavani is madly in love with fazal"

In [3]:
v="bhavani is madly in love with fazal"
for i in v:
    print(i,end="")

bhavani is madly in love with fazal

In [18]:
for i in v:
    pass

In [21]:
for i in "bhazal":
    print(i,end=" ")

b h a z a l

In [25]:
for i in "bha zal":
    if i==" ":
        pass
    print("bhavani+fazal=",i)

bhavani+fazal= b
bhavani+fazal= h
bhavani+fazal= a
bhavani+fazal=
bhavani+fazal= z
bhavani+fazal= a
bhavani+fazal= l

In [26]:
for i in "bha zal":
    if i==" ":
        pass
    print("bhavani+fazal=",i,end=" ")

bhavani+fazal= b bhavani+fazal= h bhavani+fazal= a bhavani+fazal=   bhavani+fazal= z bhavani+fazal= a bhavani+fazal= l

In [29]:
for i in "bha zal":
    print("bhavani+fazal=",i,end=" ")

bhavani+fazal= b bhavani+fazal= h bhavani+fazal= a bhavani+fazal=   bhavani+fazal= z bhavani+fazal= a bhavani+fazal= l

In [33]:
for i in "bha zal":
    if i==" ":
        pass
    print(f"bhavani+fazal={i}")
print("vijaya is compitation of bhavani")
print("it's not bhazal it's vizal")

bhavani+fazal=b
bhavani+fazal=h
bhavani+fazal=a
bhavani+fazal=
bhavani+fazal=z
bhavani+fazal=a
bhavani+fazal=l
vijaya is compitation of bhavani
it's not bhazal it's vizal

In [28]:
for i in "bha zal":
    if i==" ":
      pass
      print("bhavani+fazal=",i)
print("vijaya is compitation of bhavani")
print("it's not ('bhazal') it's ('vizal')")

bhavani+fazal=
vijaya is compitation of bhavani
it's not ('bhazal') it's ('vizal')

In [50]:
for i in "bha zal":
    if i==" ":
        break
    print("bhavani+fazal=",i)
print("vijaya is compitation of bhavani")
print("it's not bhazal it's vizal")

bhavani+fazal= b
bhavani+fazal= h
bhavani+fazal= a
vijaya is compitation of bhavani
it's not bhazal it's vizal

In [51]:
for i in "bha zal":
    if i==" ":
        continue
    print("bhavani+fazal=",i)
print("vijaya is compitation of bhavani")
print("it's not bhazal it's vizal")

bhavani+fazal= b
bhavani+fazal= h
bhavani+fazal= a
bhavani+fazal= z
bhavani+fazal= a
bhavani+fazal= l
vijaya is compitation of bhavani
it's not bhazal it's vizal

In [7]:
n = 10
for i in range(n):
    pass

In [8]:
a = 10
b = 20
if (a > b):
    pass
    print(" ")
else:
    print("b < a")

b < a

In [9]:
for v in range (3,10,3):
    print(v)

3
6
9

In [10]:
a=(1,2,3,34,4,40)
for v in a:
    print(v)

1
2
3
34
4
40

In [11]:
a="fazal-vijaya-bhavani"
for v in a:
    print(v)

f
a
z
a
l
-
v
i
j
a
y
a
-
b
h
a
v
a
n
i

In [12]:
x="rushi"
for i in (x):
    print(i)

r
u
s
h
i

In [13]:
x="rushi"
for i in range(len(x)):
    print(x[-i-1])

i
h
s
u
r

In [14]:
x=input()
for i in range(len(x)):
    print(x[-i-1])

In [1]:
def sum(x,y):
    return x+y or x-y

In [2]:
sum(3,5)

8

In [8]:
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [10]:
for i in range(1,11):
    print(i*2)

2
4
6
8
10
12
14
16
18
20

In [99]:
for i in range(1,11):
    print("8 * "+str(i)+" = "+str(i*8)+("  ")+ "9 * "+str(i)+" = "+str(i *9))

8 * 1 = 8  9 * 1 = 9
8 * 2 = 16  9 * 2 = 18
8 * 3 = 24  9 * 3 = 27
8 * 4 = 32  9 * 4 = 36
8 * 5 = 40  9 * 5 = 45
8 * 6 = 48  9 * 6 = 54
8 * 7 = 56  9 * 7 = 63
8 * 8 = 64  9 * 8 = 72
8 * 9 = 72  9 * 9 = 81
8 * 10 = 80  9 * 10 = 90

In [88]:
for i in range(1, 11):
    print("8 * " + str(i) + " = " + str(i * 8))
    print("9 * " + str(i) + " = " + str(i * 9))

8 * 1 = 8
9 * 1 = 9
8 * 2 = 16
9 * 2 = 18
8 * 3 = 24
9 * 3 = 27
8 * 4 = 32
9 * 4 = 36
8 * 5 = 40
9 * 5 = 45
8 * 6 = 48
9 * 6 = 54
8 * 7 = 56
9 * 7 = 63
8 * 8 = 64
9 * 8 = 72
8 * 9 = 72
9 * 9 = 81
8 * 10 = 80
9 * 10 = 90

In [89]:
for i in range(1, 21):
    print(f"18 * {i} = {i*18}\t9 * {i} = {i*9}")

18 * 1 = 18	9 * 1 = 9
18 * 2 = 36	9 * 2 = 18
18 * 3 = 54	9 * 3 = 27
18 * 4 = 72	9 * 4 = 36
18 * 5 = 90	9 * 5 = 45
18 * 6 = 108	9 * 6 = 54
18 * 7 = 126	9 * 7 = 63
18 * 8 = 144	9 * 8 = 72
18 * 9 = 162	9 * 9 = 81
18 * 10 = 180	9 * 10 = 90
18 * 11 = 198	9 * 11 = 99
18 * 12 = 216	9 * 12 = 108
18 * 13 = 234	9 * 13 = 117
18 * 14 = 252	9 * 14 = 126
18 * 15 = 270	9 * 15 = 135
18 * 16 = 288	9 * 16 = 144
18 * 17 = 306	9 * 17 = 153
18 * 18 = 324	9 * 18 = 162
18 * 19 = 342	9 * 19 = 171
18 * 20 = 360	9 * 20 = 180

In [90]:
for i in  range(10):
    print("*"*10)

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [91]:
for i in  range(1,10):
    print(" "*(10-i)+"*"*i)

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********

In [92]:
rows = 5
for i in range(rows):
    for j in range(i + 1):
        print("*", end=' ')
    print()
print()  # Move to the next line after each row

*
* *
* * *
* * * *
* * * * *

In [1]:
vote_age=18
if vote_age>=18:
    print("You are eligible to vote")

You are eligible to vote

In [23]:
def	age(r):
  if r > 16:
      print("eligible")
  return r

In [24]:
age(55)

eligible

55

In [48]:
#superstar movie rating
hero="pawan kalyan" or "NTR" or "allu arjun"
reviews= 5 
box_office= 200

if hero == "pawan kalyan" and box_office>100:
    print("blockbuster")
else:
    print("average")

blockbuster

In [58]:
n="somu"
for i in n[:4]:
    print(i,"i love ")

s i love
o i love
m i love
u i love

:

In [3]:
try:
    x = 1 / 0
except ZeroDivisionError:
    print("Cannot divide by zero.")

Cannot divide by zero.

In [4]:
def n(m):
    if m%2==0:
        print("EVEN")
    else:
        print("ODD")

In [6]:
n(8)

EVEN

In [8]:
def num(a,b,c):
    return max(a,b,c)
print(num(8,9,7))

9

In [3]:
n=[0,1,2,3,4,5]
r=list(filter(None,n))
print(r)

[1, 2, 3, 4, 5]

In [1]:
r=1
while r<=100:
    print(r)
    r+=1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
r=100
while r>=1:
    print(r)
    r=r-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [9]:
b=1
while b<=10:
    print("3 x",b,"=",3*b)
    b+=1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [14]:
n=int(input("enter number:"))
b=1
while b<=10:
    print(n, "x",b,"=",n*b)
    b+=1

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [15]:
nums=[1,4,9,16,25,36,49,64,81,100]

In [16]:
len(nums)

10

In [22]:
i =0
while i<len(nums):
    print(nums[i])
    i +=1

1
4
9
16
25
36
49
64
81
100

In [23]:
names=["rushikesh","fazal","prem","srinivas","rabbani","shasi"]

In [40]:
i=0
while i<len(names):
    print(names[i])
    break
    i+=1

rushikesh

In [34]:
nums=(1,4,9,16,25,36,49,64,81,100)

In [38]:
x=49
i =0
while i<len(nums):
    if (nums[i]==x):
        print(i)
        break
    i +=1

6

In [3]:
i=1

while i<=10:
    if(i==6):
      i+=1
      continue
    print(i)
    i+=1

1
2
3
4
5
7
8
9
10

In [2]:
i=0

while i<10:
    if(i==3):
        i+=1
        continue
    print(i)
    i+=1

0
1
2
4
5
6
7
8
9

In [4]:
for i in range(2, 15, 2):
    print(i)

2
4
6
8
10
12
14

In [5]:
for i in range(1, 15, 2):
    print(i)

1
3
5
7
9
11
13

In [6]:
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [7]:
for i in range(100,0,-1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [10]:
for i in range(5):
    pass
print("gvuaigfuieg")

gvuaigfuieg

In [18]:
n=5
sum=0
for i in range(1,n+1):
    sum=sum+i
print(sum)

15

In [21]:
n=5
sum=0
i=1
while i<=n:
    sum=sum+i
    i+=1
print(sum)

15

In [23]:
n=5
sum=1
for i in range(1,n+1):
    sum=sum*i
print(sum)

120

In [24]:
n=5
sum=1
i=1
while i<=n:
    sum=sum*i
    i+=1
print(sum)

120

In [4]:
i=1
while i<=10:
    print("rushi")
    i+=1

rushi
rushi
rushi
rushi
rushi
rushi
rushi
rushi
rushi
rushi

In [9]:
i={4+4+5+454}

In [10]:
i

{467}

In [16]:
{4+5+6+(7/8)+9+(6*3+6)-8}

{40.875}

In [15]:
{5+5}

{10}

In [20]:
(9+7+(4/6)+99)

115.66666666666667

In [22]:
print(eval('5+9*8+247+58'))

382

In [55]:
n=input()
r=['anuroop']

for i in r:
     if i=='o':
        print('anuroop')
     elif j=='a':
        print('fazal')

In [71]:
list_1 = ['Anuroop', 'Fazal', 'Sai']
n=input()
if list_1==['o']:
		print('anuroop')
elif list_1==['a']:
		print('fazal')
else:
  	  print('sai')

sai

In [76]:
list_1 = ['Anuroop', 'Fazal', 'Sai']
for i in list_1:
    print(i)

Anuroop
Fazal
Sai

In [1]:
2+2

4

In [1]:
i=1
while i<=10:
    print("rushi")
    i+=1

rushi
rushi
rushi
rushi
rushi
rushi
rushi
rushi
rushi
rushi

In [14]:
a=[1,2,3,4,5,6,7,8,9,10]
even=[]
odd=[]
for i in a:
    if i%2==0:
     even.append(i)
    else :
       odd.append(i)
       
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [13]:
a=[1,2,3,4,5,6,7,8,9,10]
even=[]
odd=[]
for i in a:
    if i%2==0:
     even.append(i)
    else :
       odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [21]:
import random

r=[random.randint(1,1000000) for y in range(1000)]
print(r)

[592931, 752206, 479389, 7201, 674195, 812620, 454862, 461482, 444019, 507165, 921829, 123121, 262293, 715898, 901789, 927964, 329619, 854740, 257957, 694565, 938994, 497352, 752045, 963531, 741926, 706034, 731763, 695601, 915890, 749880, 727958, 901195, 215177, 823298, 268344, 65073, 871866, 949528, 653399, 238629, 343183, 545082, 346626, 61795, 75398, 620188, 557735, 93672, 980991, 44244, 334212, 911720, 995495, 274766, 945556, 529928, 873675, 540766, 272300, 625697, 728573, 783464, 43505, 687135, 41336, 12277, 667212, 710123, 205092, 174504, 198562, 121403, 939902, 915403, 196349, 572297, 492523, 278410, 870432, 535607, 129161, 114484, 652377, 946751, 35510, 865189, 753770, 95478, 164187, 737872, 164043, 278970, 540765, 388697, 292935, 405196, 769085, 444596, 658518, 141917, 137105, 80254, 786765, 674931, 295336, 53491, 140952, 699146, 107502, 831152, 500501, 307253, 868139, 629317, 640489, 432021, 22664, 22779, 334644, 330510, 370914, 655743, 591857, 758552, 725786, 902849, 994288, 811928, 267054, 343844, 706413, 910487, 755036, 555797, 360805, 898945, 520775, 890507, 155848, 166296, 519942, 579023, 661280, 149005, 631659, 112057, 633135, 206301, 545335, 241978, 882013, 880928, 682415, 549884, 51710, 334132, 440211, 176545, 370374, 396085, 111913, 856639, 492513, 674833, 782973, 254531, 130701, 489169, 932878, 966724, 449607, 76121, 265180, 625906, 670634, 67892, 311537, 660664, 59458, 87029, 262421, 754872, 365428, 465560, 133988, 349686, 135853, 937827, 73304, 94838, 581697, 461723, 910157, 480193, 772445, 615124, 551204, 104426, 86116, 367827, 52521, 9692, 820776, 881287, 676833, 911936, 193623, 351380, 472094, 774242, 338797, 730807, 84473, 352588, 101662, 538358, 262448, 11697, 960065, 94126, 844838, 641913, 632124, 727522, 130060, 128490, 155880, 810103, 831994, 317616, 761, 475183, 309423, 557462, 95242, 871055, 166270, 420634, 531542, 707349, 298460, 44874, 325843, 256066, 112496, 181600, 12066, 612405, 341013, 856533, 78060, 475732, 34488, 170229, 737640, 805609, 503681, 416703, 200444, 929203, 217443, 454338, 862034, 649501, 432840, 712492, 524592, 129710, 204078, 193655, 750243, 374939, 11557, 756927, 154405, 231456, 471657, 108138, 50277, 657530, 251907, 167883, 924305, 404576, 85060, 234569, 883640, 676483, 453265, 924569, 108179, 259943, 954334, 841739, 379520, 851611, 848730, 355, 514686, 588601, 398566, 445412, 841924, 962892, 649838, 65561, 503365, 248195, 978140, 722157, 952708, 201422, 806661, 336717, 948148, 500371, 283339, 35799, 247892, 318322, 411229, 23289, 778580, 343796, 623250, 271860, 7085, 267585, 168972, 976413, 696277, 808445, 513633, 895781, 232226, 925928, 443764, 649992, 712614, 744283, 693795, 366648, 1837, 962398, 814505, 394622, 715831, 363861, 667100, 344665, 56541, 378708, 798639, 889367, 252780, 405804, 182579, 162806, 731785, 105889, 905988, 789429, 525471, 211432, 304651, 404578, 347629, 783588, 209422, 255493, 429967, 375146, 325485, 379840, 829620, 555648, 24672, 848214, 546653, 219849, 170095, 396188, 821460, 325926, 739738, 682655, 528841, 853407, 421678, 245786, 43164, 667625, 70630, 383227, 985125, 854777, 109727, 873344, 1737, 751156, 115994, 526340, 639918, 312209, 916304, 530104, 37161, 69401, 900134, 84751, 652186, 829872, 310698, 75881, 807169, 678114, 361836, 983803, 576634, 873402, 611847, 909857, 391041, 973522, 527555, 847846, 589553, 489334, 225919, 166407, 270611, 542665, 6575, 981571, 997508, 970463, 36601, 415667, 758015, 213903, 706808, 414134, 693578, 459809, 890735, 427461, 26001, 323252, 558769, 46232, 377376, 823451, 71371, 896794, 287100, 911129, 220884, 515626, 267356, 730473, 609428, 239786, 497635, 709351, 441670, 789846, 11747, 410628, 564111, 615579, 251102, 672839, 355593, 38962, 466311, 616410, 909712, 485481, 617760, 191060, 508563, 775872, 651800, 348681, 792177, 90885, 587526, 883868, 47421, 782775, 159633, 337388, 232450, 466280, 920531, 804238, 311430, 537307, 178770, 757549, 358893, 669744, 108809, 33529, 465745, 811653, 6254, 459962, 785968, 660901, 56458, 699252, 870268, 129480, 275364, 813006, 2610, 808168, 923333, 456352, 826817, 708654, 419710, 674070, 846816, 677998, 250249, 328721, 852814, 242866, 557033, 108871, 679361, 187241, 107196, 898348, 824621, 828088, 137974, 701088, 765467, 92494, 992070, 353246, 311862, 856486, 143378, 807825, 858244, 874814, 938683, 78874, 739916, 748512, 730388, 219569, 517225, 868454, 277262, 671501, 73835, 184573, 208731, 569152, 342516, 153573, 638861, 382194, 962709, 151532, 73240, 464385, 362677, 895425, 699379, 420393, 673014, 219352, 414462, 216263, 636803, 424993, 675295, 153758, 487542, 872149, 686881, 988924, 397956, 95159, 577999, 950972, 942460, 862907, 558713, 152599, 648284, 371570, 574390, 776804, 698058, 650048, 907377, 750598, 637591, 516140, 629967, 916229, 497107, 221745, 241512, 353711, 219300, 981349, 551661, 72825, 559557, 168664, 106847, 25668, 14017, 586027, 884239, 78027, 178914, 263346, 619018, 13629, 539799, 290597, 427042, 240988, 538936, 519527, 586828, 503431, 245135, 70815, 815500, 394777, 633916, 942809, 467235, 805005, 158437, 776137, 497585, 707128, 387743, 269576, 375440, 730326, 645227, 161904, 252911, 367572, 58897, 450651, 718884, 272915, 745747, 69381, 301132, 488574, 294331, 532427, 590528, 5609, 154649, 287044, 843706, 304900, 992929, 863721, 51130, 454874, 218751, 848300, 171201, 44898, 911645, 258510, 46699, 9811, 871819, 713054, 4438, 123477, 245684, 670519, 30384, 137527, 441065, 177405, 206037, 607459, 688531, 371003, 255818, 971845, 876026, 105438, 889450, 482677, 415104, 936255, 17965, 83343, 5115, 853807, 274696, 663164, 82372, 655558, 430163, 588527, 920833, 778489, 853634, 594099, 162217, 155677, 384222, 660332, 742423, 991029, 445984, 18696, 755304, 459131, 880659, 160688, 301242, 487759, 739921, 491007, 831450, 742044, 73808, 65382, 361270, 527404, 393460, 766030, 700212, 935185, 426649, 750876, 312376, 72791, 595852, 510373, 842385, 389711, 393375, 134198, 329281, 705335, 763038, 709449, 161604, 993887, 499214, 372537, 706644, 686302, 643645, 913848, 608475, 207454, 189526, 861040, 423353, 177993, 320226, 260551, 813039, 230677, 543706, 963124, 160302, 203593, 844517, 784096, 907230, 683803, 834444, 691293, 30379, 816478, 148574, 650135, 96741, 569814, 274159, 27062, 438045, 704117, 342741, 585309, 131892, 330740, 844723, 836832, 374, 242758, 539242, 379039, 464123, 746638, 432104, 976436, 505511, 346069, 30229, 990687, 324928, 350337, 257522, 863749, 29581, 767761, 720207, 827108, 653766, 511865, 409221, 162930, 186469, 334024, 756356, 3703, 231927, 920581, 613817, 656494, 875276, 526942, 462302, 979604, 16681, 874611, 873543, 911434, 946204, 219054, 73131, 530798, 478706, 52593, 466391, 748333, 566661, 976379, 90647, 404014, 420977, 894800, 817065, 955406, 573568, 246748, 795526, 996678, 685917, 240949, 228625, 93786, 939159, 3238, 364927, 165113, 137465, 580737, 366909, 29188, 689306, 45814, 172838, 965184, 86455, 918427, 114781, 252438, 37719, 369297, 695598, 389454, 89039, 161490, 502579, 285734, 615828, 949734, 215545, 215974, 325571, 804496, 315467, 677054, 147643, 6895, 337666, 917469, 222084, 167672, 943644, 517524, 584684, 770530, 236234, 239817, 40657, 342959, 848627, 642386, 70462, 290549, 26851, 457770, 273064, 951023, 327265, 85899, 767860, 537634, 597040, 543747, 483912, 463364, 246897, 343680, 666610, 108454, 251986, 624679, 595210, 190837, 848927, 388058, 615923, 188237, 757918, 520071, 678512, 444734, 784765, 686594, 195985, 482141, 616432, 216771, 708727, 309284, 73069, 515134, 866255, 306320, 250383, 796056, 168314, 478462, 554517, 429764, 190601, 627954, 711884, 609322, 621827, 771584, 322834, 979321, 322931, 720401, 826072, 517175, 44541, 9327, 62482, 588795, 179850, 703589, 996364, 381531, 609143, 596554, 375524, 887218, 872553, 414123, 674141, 665238, 842503, 84019, 122846, 455935, 379185, 645848, 782912, 147134]

In [22]:
even=[]
odd=[]
for i in r:
      if i%2==0:
              even.append(i)
      else :
              odd.append(i)
print(even)
print(odd)

[752206, 812620, 454862, 461482, 715898, 927964, 854740, 938994, 497352, 741926, 706034, 915890, 749880, 727958, 823298, 268344, 871866, 949528, 545082, 346626, 75398, 620188, 93672, 44244, 334212, 911720, 274766, 945556, 529928, 540766, 272300, 783464, 41336, 667212, 205092, 174504, 198562, 939902, 278410, 870432, 114484, 35510, 753770, 95478, 737872, 278970, 405196, 444596, 658518, 80254, 295336, 140952, 699146, 107502, 831152, 22664, 334644, 330510, 370914, 758552, 725786, 994288, 811928, 267054, 343844, 755036, 155848, 166296, 519942, 661280, 241978, 880928, 549884, 51710, 334132, 370374, 932878, 966724, 265180, 625906, 670634, 67892, 660664, 59458, 754872, 365428, 465560, 133988, 349686, 73304, 94838, 615124, 551204, 104426, 86116, 9692, 820776, 911936, 351380, 472094, 774242, 352588, 101662, 538358, 262448, 94126, 844838, 632124, 727522, 130060, 128490, 155880, 831994, 317616, 557462, 95242, 166270, 420634, 531542, 298460, 44874, 256066, 112496, 181600, 12066, 78060, 475732, 34488, 737640, 200444, 454338, 862034, 432840, 712492, 524592, 129710, 204078, 231456, 108138, 657530, 404576, 85060, 883640, 954334, 379520, 848730, 514686, 398566, 445412, 841924, 962892, 649838, 978140, 952708, 201422, 948148, 247892, 318322, 778580, 343796, 623250, 271860, 168972, 232226, 925928, 443764, 649992, 712614, 366648, 962398, 394622, 667100, 378708, 252780, 405804, 162806, 905988, 211432, 404578, 783588, 209422, 375146, 379840, 829620, 555648, 24672, 848214, 396188, 821460, 325926, 739738, 421678, 245786, 43164, 70630, 873344, 751156, 115994, 526340, 639918, 916304, 530104, 900134, 652186, 829872, 310698, 678114, 361836, 576634, 873402, 973522, 847846, 489334, 997508, 706808, 414134, 693578, 323252, 46232, 377376, 896794, 287100, 220884, 515626, 267356, 609428, 239786, 441670, 789846, 410628, 251102, 38962, 616410, 909712, 617760, 191060, 775872, 651800, 587526, 883868, 337388, 232450, 466280, 804238, 311430, 178770, 669744, 6254, 459962, 785968, 56458, 699252, 870268, 129480, 275364, 813006, 2610, 808168, 456352, 708654, 419710, 674070, 846816, 677998, 852814, 242866, 107196, 898348, 828088, 137974, 701088, 92494, 992070, 353246, 311862, 856486, 143378, 858244, 874814, 78874, 739916, 748512, 730388, 868454, 277262, 569152, 342516, 382194, 151532, 73240, 673014, 219352, 414462, 153758, 487542, 988924, 397956, 950972, 942460, 648284, 371570, 574390, 776804, 698058, 650048, 750598, 516140, 241512, 219300, 168664, 25668, 178914, 263346, 619018, 427042, 240988, 538936, 586828, 815500, 633916, 707128, 269576, 375440, 730326, 161904, 367572, 718884, 301132, 488574, 590528, 287044, 843706, 304900, 51130, 454874, 848300, 44898, 258510, 713054, 4438, 245684, 30384, 255818, 876026, 105438, 889450, 415104, 274696, 663164, 82372, 655558, 853634, 384222, 660332, 445984, 18696, 755304, 160688, 301242, 831450, 742044, 73808, 65382, 361270, 527404, 393460, 766030, 700212, 750876, 312376, 595852, 134198, 763038, 161604, 499214, 706644, 686302, 913848, 207454, 189526, 861040, 320226, 543706, 963124, 160302, 784096, 907230, 834444, 816478, 148574, 569814, 27062, 131892, 330740, 836832, 374, 242758, 539242, 746638, 432104, 976436, 324928, 257522, 827108, 653766, 162930, 334024, 756356, 656494, 875276, 526942, 462302, 979604, 911434, 946204, 219054, 530798, 478706, 404014, 894800, 955406, 573568, 246748, 795526, 996678, 93786, 3238, 29188, 689306, 45814, 172838, 965184, 252438, 695598, 389454, 161490, 285734, 615828, 949734, 215974, 804496, 677054, 337666, 222084, 167672, 943644, 517524, 584684, 770530, 236234, 642386, 70462, 457770, 273064, 767860, 537634, 597040, 483912, 463364, 343680, 666610, 108454, 251986, 595210, 388058, 757918, 678512, 444734, 686594, 616432, 309284, 515134, 306320, 796056, 168314, 478462, 429764, 627954, 711884, 609322, 771584, 322834, 826072, 62482, 179850, 996364, 596554, 375524, 887218, 665238, 122846, 645848, 782912, 147134]
[592931, 479389, 7201, 674195, 444019, 507165, 921829, 123121, 262293, 901789, 329619, 257957, 694565, 752045, 963531, 731763, 695601, 901195, 215177, 65073, 653399, 238629, 343183, 61795, 557735, 980991, 995495, 873675, 625697, 728573, 43505, 687135, 12277, 710123, 121403, 915403, 196349, 572297, 492523, 535607, 129161, 652377, 946751, 865189, 164187, 164043, 540765, 388697, 292935, 769085, 141917, 137105, 786765, 674931, 53491, 500501, 307253, 868139, 629317, 640489, 432021, 22779, 655743, 591857, 902849, 706413, 910487, 555797, 360805, 898945, 520775, 890507, 579023, 149005, 631659, 112057, 633135, 206301, 545335, 882013, 682415, 440211, 176545, 396085, 111913, 856639, 492513, 674833, 782973, 254531, 130701, 489169, 449607, 76121, 311537, 87029, 262421, 135853, 937827, 581697, 461723, 910157, 480193, 772445, 367827, 52521, 881287, 676833, 193623, 338797, 730807, 84473, 11697, 960065, 641913, 810103, 761, 475183, 309423, 871055, 707349, 325843, 612405, 341013, 856533, 170229, 805609, 503681, 416703, 929203, 217443, 649501, 193655, 750243, 374939, 11557, 756927, 154405, 471657, 50277, 251907, 167883, 924305, 234569, 676483, 453265, 924569, 108179, 259943, 841739, 851611, 355, 588601, 65561, 503365, 248195, 722157, 806661, 336717, 500371, 283339, 35799, 411229, 23289, 7085, 267585, 976413, 696277, 808445, 513633, 895781, 744283, 693795, 1837, 814505, 715831, 363861, 344665, 56541, 798639, 889367, 182579, 731785, 105889, 789429, 525471, 304651, 347629, 255493, 429967, 325485, 546653, 219849, 170095, 682655, 528841, 853407, 667625, 383227, 985125, 854777, 109727, 1737, 312209, 37161, 69401, 84751, 75881, 807169, 983803, 611847, 909857, 391041, 527555, 589553, 225919, 166407, 270611, 542665, 6575, 981571, 970463, 36601, 415667, 758015, 213903, 459809, 890735, 427461, 26001, 558769, 823451, 71371, 911129, 730473, 497635, 709351, 11747, 564111, 615579, 672839, 355593, 466311, 485481, 508563, 348681, 792177, 90885, 47421, 782775, 159633, 920531, 537307, 757549, 358893, 108809, 33529, 465745, 811653, 660901, 923333, 826817, 250249, 328721, 557033, 108871, 679361, 187241, 824621, 765467, 807825, 938683, 219569, 517225, 671501, 73835, 184573, 208731, 153573, 638861, 962709, 464385, 362677, 895425, 699379, 420393, 216263, 636803, 424993, 675295, 872149, 686881, 95159, 577999, 862907, 558713, 152599, 907377, 637591, 629967, 916229, 497107, 221745, 353711, 981349, 551661, 72825, 559557, 106847, 14017, 586027, 884239, 78027, 13629, 539799, 290597, 519527, 503431, 245135, 70815, 394777, 942809, 467235, 805005, 158437, 776137, 497585, 387743, 645227, 252911, 58897, 450651, 272915, 745747, 69381, 294331, 532427, 5609, 154649, 992929, 863721, 218751, 171201, 911645, 46699, 9811, 871819, 123477, 670519, 137527, 441065, 177405, 206037, 607459, 688531, 371003, 971845, 482677, 936255, 17965, 83343, 5115, 853807, 430163, 588527, 920833, 778489, 594099, 162217, 155677, 742423, 991029, 459131, 880659, 487759, 739921, 491007, 935185, 426649, 72791, 510373, 842385, 389711, 393375, 329281, 705335, 709449, 993887, 372537, 643645, 608475, 423353, 177993, 260551, 813039, 230677, 203593, 844517, 683803, 691293, 30379, 650135, 96741, 274159, 438045, 704117, 342741, 585309, 844723, 379039, 464123, 505511, 346069, 30229, 990687, 350337, 863749, 29581, 767761, 720207, 511865, 409221, 186469, 3703, 231927, 920581, 613817, 16681, 874611, 873543, 73131, 52593, 466391, 748333, 566661, 976379, 90647, 420977, 817065, 685917, 240949, 228625, 939159, 364927, 165113, 137465, 580737, 366909, 86455, 918427, 114781, 37719, 369297, 89039, 502579, 215545, 325571, 315467, 147643, 6895, 917469, 239817, 40657, 342959, 848627, 290549, 26851, 951023, 327265, 85899, 543747, 246897, 624679, 190837, 848927, 615923, 188237, 520071, 784765, 195985, 482141, 216771, 708727, 73069, 866255, 250383, 554517, 190601, 621827, 979321, 322931, 720401, 517175, 44541, 9327, 588795, 703589, 381531, 609143, 872553, 414123, 674141, 842503, 84019, 455935, 379185]

In [9]:
n=['anuroop','fazal','sai','oops']
new=[]
for i in n:
    if i.count('a')>=2 or i.count('o')>=2:
        new.append(i)
print(new)

['anuroop', 'fazal', 'oops']

In [5]:
d=['sri','rushikesh','raghavamsi','vamsi','fazal']
new=[]
for i in d:
    if i.count('z')>=1 or i.count():
        new.append(i)
        print(new)

['fazal']

In [2]:
d=['sri','rushikesh','raghavamsi','vamsi','fazal']

for i in d:
    if i.count('i'):
        print(i)

sri
rushikesh
raghavamsi
vamsi

In [24]:
words = ["apple", "banana", "umbrella", "orange", "grape", "elephant", "kiwi", "iguana", "mango", "octopus"]
w=[]
for i in words:
    if len(i)>len(set(i)):
        print(i)

apple
banana
umbrella
elephant
kiwi
iguana
octopus

In [25]:
# 0	  1	  2	  3	  4	  5
# 19	20	21	22	23	6
# 18	31	32	33	24	7
# 17	30	35	34	25	8
# 16	29	28	27	26	9
# 15	14	13	12	11	10

In [34]:
for i in range(0,6):
    print(i,end=" ")
for j in range(6,10):
        print(j)

0 1 2 3 4 5 6
7
8
9

In [48]:
n=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35]
for i in n:
    if i==0:
        print(1*i)

0

In [36]:
len(n)

36

In [44]:
n[0:6]

[0, 1, 2, 3, 4, 5]

In [52]:
rows=6
for i in range(rows):
    if i==0:
        print('*'*rows)

TypeError: 'int' object is not callable

In [56]:
m=[[0]*6 for i in range(6)]
print(i)

TypeError: 'int' object is not callable